<footer style="background-color: #333; color: white; padding: 5px 0;">
    <div style="max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; align-items: flex-start; padding: 0 20px;">
      <div>
        <h3 style="font-size: 8pt;">Dallas County Juvenile Department</h3>
      </div>
        <div style="font-size: 8pt; padding-top: 10px;">
          <a href="{{ url_for('home') }}" style="color: white; text-decoration: none;">Home</a> |
          <a href="{{ url_for('my_applications') }}" style="color: white; text-decoration: none;">Applications</a> |
          <a href="{{ url_for('help') }}" style="color: white; text-decoration: none;">Help</a>
        </div>
      <div>
        <p style="font-size: 8pt;">Youth Services Advisory Board Funds Portal</p>
      </div>
    </div>
  </footer>