<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YSAB Application Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to the Dallas County Juvenile Department YSAB Documents Site</h1>
        <p class="lead">Please choose one of the forms below to fill out:</p>
        <ul class="list-group mt-4">
            <li class="list-group-item">
                <a href="/application">YSAB DCJD (Internal) Application</a>
            </li>
            <li class="list-group-item">
                <a href="/progress-report">YSAB Project Progress Report</a>
            <!-- </li>
            <li class="list-group-item">
                <a href="/continuation">YSAB Continuation Project Application</a>
            </li> -->
            <li class="list-group-item">
                <a href="/external">YSAB External Project Application</a>
            </li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
