<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}"> 
  <title>YSAB Progress Report</title>   
  <link rel="icon" href="{{url_for('static', filename='images/fav-icon-red.svg')}}">
  <style>
    .readonly-input {
      background-color: #f0f0f0;
      color: #666;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
{% include 'header.html' %}

<div class="loading-overlay" id="loadingOverlay">
  <div class="loading-popup">
    <button class="close-button" onclick="closeLoadingOverlay()">&times;</button>
    <p>Please wait while your application is being submitted...</p>
    <img src="{{url_for('static', filename='images/loading_animation.gif')}}" alt="Loading...">
    </div>
  </div>  

  {% include 'header_progress_report.html' %}

  <div class="main-content">
    <form action="/submit_progress_report" method="POST">
      <input type="hidden" name="application_id" value="{{ application_id }}">
      <input type="hidden" name="application_type" value="Progress Report">
      <input type="hidden" name="reporting_period" value="Annual">

      <div>
      <br>
        <label for="name">Name</label>
        <div>
          <input id="name" name="name" type="text" value="{{ user_name }}" size="8" tabindex="1" required>
        </div>
      </div>

      <div>
          <label for="app_title">
            Applicant Title
          </label>
          <div>
            <input id="app_title" name="app_title" type="text" value="{{ app_title }}" size="8" tabindex="1">
         </div>
      </div>

      <div>
          <label for="email">
            Contact Email
          </label>
          <div>
            <input id="email" name="email" type="email" spellcheck="false" value="{{ user_email }}" maxlength="255" tabindex="3" required> 
         </div>
      </div>

      <div>
        <label for="phone">
          Contact Phone Number
        </label>
        <div>
          <input id="phone" name="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" oninput="formatPhoneNumber(this)" maxlength="12" value="{{ phone }}" required>
        </div>
      </div>
      <script src="{{url_for('static', filename='phone_number.js')}}"></script>

    <h3>Profile</h3>

      <div>
        <br>
          <label for="title">Project Title</label>
          <div>
            <input id="title" name="title" type="text" value="{{ project_title }}" size="8" tabindex="1" required disabled>
          </div>
        </div>

      <div>
        <label for="how_funds_advanced_goals_of_program">
          Describe specifically how the use of your YSAB award advanced the goals and objectives of your program. Link the use of your YSAB award with the impact it has made on your outcomes.
        </label>
        <div>
          <textarea id="how_funds_advanced_goals_of_program" name="how_funds_advanced_goals_of_program" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder=""></textarea>
        </div>
      </div>

      <div>
          <label for="project_contact">
          Project Contact (Name)
          </label>
          <div>
            <input id="project_contact" name="project_contact" type="text" size="8" tabindex="1">
         </div>
      </div>

      <div>
        <label for="fiscal_year">Fiscal Year</label>
        <div>
          <input id="fiscal_year" name="fiscal_year" type="number" size="8" tabindex="1" min="1" max="99999">
       </div>
      </div>
        
      <div>
        <label for="start_date">Start Date:</label>
        <div>
          <input type="date" id="start_date" name="start_date" value="2024-01-01" min="2018-01-01" max="2099-12-31" />
        </div>
      </div>

      <div>
        <label for="end_date">End Date:</label>
        <div>
          <input type="date" id="end_date" name="end_date" value="2024-01-01" min="2018-01-01" max="2099-12-31" />
        </div>
      </div>

      <div>
          <label for="amount_awarded">
          Amount Awarded
          </label>
          <div>
            <input id="amount_awarded" name="amount_awarded" type="number" size="8" tabindex="1" min="1" max="999999" value="{{ grand_total }}" readonly class="readonly-input">
         </div>
      </div>

    <div id="amount_expended_final">
      <label for="amount_expended_final">
      Amount Expended
      </label>
      <div>
        <input name="amount_expended_final" type="number" size="8" tabindex="1" min="1" max="99999">
     </div>
    </div>

    <br>
    <br>
    <h3>Performance Measures</h3>
    <h4>Output Measures</h4>
      
    <table align="center" border=1 cellspacing="1" cellpadding="5">
      <thead>
          <tr>
              <th style="width:50%">Output Measures</th>
              <th>Annual Actual Achieved</th>
              <th style="text-align: center;">Target</th>
              <th style="width:15%">Annual Target Achieved</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Number of youth directly benefited</td>
              <td>
                <input id="annual_output_aa_a" name="annual_output_aa_a" type="text" size="8" tabindex="1">
              </td>
              <td style="text-align: center;" >
                <input id="annual_target_output_a" name="annual_target_output_a" type="text" size="8" tabindex="1">
              </td>
              <td style="text-align: center;">
                <select id="ontrack_output_target_a" name="ontrack_output_target_a"  tabindex="11"> 
                    <option value="Choose an item">Choose an item</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </td>
          </tr>
          <tr>
              <td>Number of individuals not under the authority of DCJD benefited</td>
              <td>
                <input id="annual_output_aa_b" name="annual_output_aa_b" type="text" size="8" tabindex="1">
              </td>
              <td style="text-align: center;" >
                <input id="annual_target_output_b" name="annual_target_output_b" type="text" size="8" tabindex="1">
              </td>
              <td style="text-align: center;">
                <select id="ontrack_output_target_b" name="ontrack_output_target_b"  tabindex="11"> 
                    <option value="Choose an item">Choose an item</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>                
              </td>
          </tr>
          <tr>
              <td>
                <span id="output1" style="color: #000000;">{{ output1 }}</span>
                <input type="hidden" id="output1" name="output1" value="{{ output1 }}">
              </td>
              <td>
                <input id="annual_output_aa_1" name="annual_output_aa_1" type="text" size="8" tabindex="1">
              </td>
              <td style="text-align: center;" >
                <span id="annual_target_output_1" style="color: #000000;">{{ target1 }}</span>
                <input type="hidden" id="annual_target_output_1" name="annual_target_output_1" value="{{ target1 }}">
              </td>
              <td style="text-align: center;">
                <select id="ontrack_output_target_1" name="ontrack_output_target_1"  tabindex="11"> 
                    <option value="Choose an item">Choose an item</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </td>
          </tr>
          <tr>
            <td>
              <span id="output2" style="color: #000000;">{{ output2 }}</span>
              <input type="hidden" id="output2" name="output2" value="{{ output2 }}">
            </td>
            <td>
              <input id="annual_output_aa_2" name="annual_output_aa_2" type="text" size="8" tabindex="1">
            </td>
            <td style="text-align: center;" >
              <span id="annual_target_output_2" style="color: #000000;">{{ target2 }}</span>
              <input type="hidden" id="annual_target_output_2" name="annual_target_output_2" value="{{ target2 }}">
            </td>
            <td style="text-align: center;">
              <select id="ontrack_output_target_2" name="ontrack_output_target_2"  tabindex="11"> 
                  <option value="Choose an item">Choose an item</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
            </td>
        </tr>      
        <tr>
          <td>
            <span id="output3" style="color: #000000;">{{ output3 }}</span>
            <input type="hidden" id="output3" name="output3" value="{{ output3 }}">
          </td>
          <td>
            <input id="annual_output_aa_3" name="annual_output_aa_3" type="text" size="8" tabindex="1">
          </td>
          <td style="text-align: center;" >
            <span id="annual_target_output_3" style="color: #000000;">{{ target3 }}</span>
            <input type="hidden" id="annual_target_output_3" name="annual_target_output_3" value="{{ target3 }}">
          </td>
          <td style="text-align: center;">
            <select id="ontrack_output_target_3" name="ontrack_output_target_3"  tabindex="11"> 
                <option value="Choose an item">Choose an item</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
          </td>
      </tr> 
      <tr>
        <td>
          <span id="output4" style="color: #000000;">{{ output4 }}</span>
          <input type="hidden" id="output4" name="output4" value="{{ output4 }}">
        </td>
        <td>
          <input id="annual_output_aa_4" name="annual_output_aa_4" type="text" size="8" tabindex="1">
        </td>
        <td style="text-align: center;" >
          <span id="annual_target_output_4" style="color: #000000;">{{ target4 }}</span>
          <input type="hidden" id="annual_target_output_4" name="annual_target_output_4" value="{{ target4 }}">
        </td>
        <td style="text-align: center;">
          <select id="ontrack_output_target_4" name="ontrack_output_target_4"  tabindex="11"> 
              <option value="Choose an item">Choose an item</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
        </td>
    </tr>    
    <tr>
      <td>
        <span id="output5" style="color: #000000;">{{ output5 }}</span>
        <input type="hidden" id="output5" name="output5" value="{{ output5 }}">
      </td>
      <td>
        <input id="annual_output_aa_5" name="annual_output_aa_5" type="text" size="8" tabindex="1">
      </td>
      <td style="text-align: center;" >
        <span id="annual_target_output_5" style="color: #000000;">{{ target5 }}</span>
        <input type="hidden" id="annual_target_output_5" name="annual_target_output_5" value="{{ target5 }}">
      </td>
      <td style="text-align: center;">
        <select id="ontrack_output_target_5" name="ontrack_output_target_5"  tabindex="11"> 
            <option value="Choose an item">Choose an item</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
      </td>
    </tr>        
      </tbody>
    </table>

    <br>
    <h4>Outcome Measures</h4>
    <p>(These should be identical to the outcome measures in the original application)</p>

    <table align="center" border=1 cellspacing="1" cellpadding="5">
      <thead>
          <tr>
              <th style="width:50%">Outcome Measures</th>
              <th>Annual Actual Achieved</th>
              <th style="text-align: center;">Target</th>
              <th style="width:15%">Annual Target Achieved</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>                    
                <span id="outcome1" style="color: #000000;">{{ outcome1 }}</span>
                <input type="hidden" id="outcome1" name="outcome1" value="{{ outcome1 }}">
              </td>
              <td>
                <input id="annual_outcome_aa_1" name="annual_outcome_aa_1" type="text" size="8" tabindex="1">
              </td>
              <td style="text-align: center;" >
                <span id="annual_target_outcome_1" style="color: #000000;">{{ target1_1 }}</span>
                <input type="hidden" id="annual_target_outcome_1" name="annual_target_outcome_1" value="{{ target1_1 }}">
              </td>
              <td style="text-align: center;">
                <select id="ontrack_outcome_target_1" name="ontrack_outcome_target_1"  tabindex="11"> 
                    <option value="Choose an item">Choose an item</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </td>
          </tr>
          <tr>
              <td>
                <span id="outcome2" style="color: #000000;">{{ outcome2 }}</span>
                <input type="hidden" id="outcome2" name="outcome2" value="{{ outcome2 }}">
              </td>
              <td>
                <input id="annual_outcome_aa_2" name="annual_outcome_aa_2" type="text" size="8" tabindex="1">
              </td>
              <td style="text-align: center;" >
                <span id="annual_target_outcome_2" style="color: #000000;">{{ target2_1 }}</span>
                <input type="hidden" id="annual_target_outcome_2" name="annual_target_outcome_2" value="{{ target2_1 }}">
              </td>
              <td style="text-align: center;">
                <select id="ontrack_outcome_target_2" name="ontrack_outcome_target_2"  tabindex="11"> 
                    <option value="Choose an item">Choose an item</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>                
              </td>
          </tr>
          <tr>
            <td>
              <span id="outcome3" style="color: #000000;">{{ outcome3 }}</span>
              <input type="hidden" id="outcome3" name="outcome3" value="{{ outcome3 }}">
            </td>
            <td>
              <input id="annual_outcome_aa_3" name="annual_outcome_aa_3" type="text" size="8" tabindex="1">
            </td>
            <td style="text-align: center;" >
              <span id="annual_target_outcome_3" style="color: #000000;">{{ target3_1 }}</span>
              <input type="hidden" id="annual_target_outcome_3" name="annual_target_outcome_3" value="{{ target3_1 }}">
            </td>
            <td style="text-align: center;">
              <select id="ontrack_outcome_target_3" name="ontrack_outcome_target_3"  tabindex="11"> 
                  <option value="Choose an item">Choose an item</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
            </td>
        </tr>      
        <tr>
          <td>
            <span id="outcome4" style="color: #000000;">{{ outcome4 }}</span>
            <input type="hidden" id="outcome4" name="outcome4" value="{{ outcome4 }}">
          </td>
          <td>
            <input id="annual_outcome_aa_4" name="annual_outcome_aa_4" type="text" size="8" tabindex="1">
          </td>
          <td style="text-align: center;" >
            <span id="annual_target_outcome_4" style="color: #000000;">{{ target4_1 }}</span>
            <input type="hidden" id="annual_target_outcome_4" name="annual_target_outcome_4" value="{{ target4_1 }}">
          </td>
          <td style="text-align: center;">
            <select id="ontrack_outcome_target_4" name="ontrack_outcome_target_4"  tabindex="11"> 
                <option value="Choose an item">Choose an item</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
          </td>
      </tr> 
      <tr>
        <td>
          <span id="outcome5" style="color: #000000;">{{ outcome5 }}</span>
          <input type="hidden" id="outcome5" name="outcome5" value="{{ outcome5 }}">
        </td>
        <td>
          <input id="annual_outcome_aa_5" name="annual_outcome_aa_5" type="text" size="8" tabindex="1">
        </td>
        <td style="text-align: center;" >
          <span id="annual_target_outcome_5" style="color: #000000;">{{ target5_1 }}</span>
          <input type="hidden" id="annual_target_outcome_5" name="annual_target_outcome_5" value="{{ target5_1 }}">
        </td>
        <td style="text-align: center;">
          <select id="ontrack_outcome_target_5" name="ontrack_outcome_target_5"  tabindex="11"> 
              <option value="Choose an item">Choose an item</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </td>
      </tr>    
      </tbody>
    </table>

    <br><br>
    <h3>Programmatic Considerations</h3>

      <div>
        <label for="funds_explain"><b>Award Amendment</b> <p>If the YSAB award needs to be increased for this project before the end of the period, make the request and provide a justification for the increase and the amount of the increase.</p></label>
        <div>
          <textarea id="funds_explain" name="funds_explain" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder="Maximum 250 words"></textarea>
        </div>
      </div>
      
      <div id="final_full_amount">
        <p style="color:red;">Annual Report Only</p>
        <label for="final_full_amount">Did you spend the full amount awarded in your application?</label>
        <div>
          <select name="final_full_amount"  tabindex="11"> 
            <option value="Choose an item">Choose an item</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>

      <div id="final_full_amount_no">
        <label for="final_full_amount_no">
        If no, describe any problems or obstacles that have affected your ability to spend your grant funds and <u>indicate the percentage spent</u>.
        </label>
        <div>
         <textarea name="final_full_amount_no" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder=""></textarea>
        </div>
     </div>

     <div id="final_full_amount_no2">
        <label for="final_full_amount_no2">
          If your output and/or outcome target levels were <b>not</b> met, describe any problems or obstacles that affected your ability to achieve them. 
        </label>
        <div>
          <textarea name="final_full_amount_no2" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder=""></textarea>
        </div>
      </div>

      <br>

      <div>
        <label for="challenges_discrepances">Provide any overlooked challenges or discrepancies encountered while managing the grant funds, such as discrepancies between the intended and actual use of funds or unanticipated issues not addressed elsewhere.</label>
        <div>
          <textarea id="challenges_discrepances" name="challenges_discrepances" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder=""></textarea>
        </div>
      </div>

      <br><br>

      <div style="text-align: justify;">
        <div style="display: inline-flex; align-items: center; border: 1px solid red; padding: 15px;">
          <input type="checkbox" id="disclaimer_check" name="disclaimer_check" value="agree" required style="width: 15px; height: 15px;" required>
          <label for="disclaimer_check" style="margin-left: 10px;">All of the information contained within this progress report is true and accurate as of the date this report is being submitted. As the informant, you affirm that all due diligence has been completed. This report is made in good faith and with respect for the purpose of the Youth Services Advisory Board grant program for the express direct benefit of the youth under the authority of the Dallas County Juvenile Department.</label>
        </div>
      </div>

      <br>

      <div class="container">
        <div class="center">
          <input id="saveForm" name="saveForm" type="submit" value="Submit" class="submit-button" disabled>
        </div>
      </div>

      <script src="{{ url_for('static', filename='submit_script.js') }}"></script>

    </form>
  </div>

{% include 'footer.html' %}

</body>
</html>