name: Update MongoDB on Push

on:
  push:
    branches:
      - main

jobs:
  update-mongodb:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install pymongo pytz

      - name: Get Last Commit Message
        id: commit
        run: echo "::set-output name=msg::$(git log -1 --pretty=%B)"

      - name: Update MongoDB Activities
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
        run: |
          python - <<EOF
          from pymongo import MongoClient
          from datetime import datetime as dt
          import pytz

          def get_timestamp():
              central_timezone = pytz.timezone('America/Chicago')
              current_time = dt.now(central_timezone)
              timestamp = current_time.strftime("%m-%d-%Y %H:%M")
              return timestamp

          client = MongoClient("${{ secrets.MONGODB_URI }}")
          db = client['ysab_applications']
          collection = db['activities']
          record = {
              "timestamp": get_timestamp(),
              "type": "Website Update",
              "description": f"New website update deployed by Juan Lomeli: '${{ steps.commit.outputs.msg }}'",
              "user": "juan.lomeli@dallascounty.org",
              "read": false
          }
          collection.insert_one(record)
          client.close()
          EOF
